
html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 10px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family:'Times New Roman';
  background-color:burlywood;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #fff700;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #ab3f3f;
  text-shadow: 3px 3px 1px black;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
p {
  color: red;
  font-size: 16px;
}
h1 {
  font-size: 40px;
  text-align: center;
}

p,
li {
  color: black;  
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}